<!DOCTYPE html>
<html ng-app="store">

  <head>
    <meta charset="utf-8" />
    <title>Store Application</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" data-require="bootstrap@3.3.5" data-semver="3.3.5" />
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.css" rel="stylesheet" data-require="bootstrap@3.3.5" data-semver="3.3.5" /> -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" data-require="bootstrap@3.3.5" data-semver="3.3.5"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js" data-require="bootstrap@3.3.5" data-semver="3.3.5"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" data-require="angularjs@1.4" data-semver="1.4.4"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.min.js" data-require="angularjs@1.4" data-semver="1.4.4"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.min.js" data-require="angularjs@1.4" data-semver="1.4.4"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js" data-require="angularjs@1.4" data-semver="1.4.4"></script>
    <script data-require="jquery@2.1.4" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="app.js" type="text/javascript"></script>
  </head>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand"  href="/home">ECOMMERCE</a>
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/viewblog">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/viewproduct">Products</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" (click)="logout()" routerLink="/home">Logout</a>
          </li>
      </ul>
    </nav>
  
    <!-- <div class="container">
      <div ng-controller="StoreController">
        <h1>BLOG</h1>
        <ul class="list-group text-center">
          <li class="col-xl-5 col-md-6 col-sm-3 col-lg-3 list-group-item" *ngFor="let list of listArr">
              <tr><img src={{list.file}} alt="" width="30%"> </tr>
            <tr>Name:{{ list.name }}</tr>
              <tr>Blog:{{ list.description }}</tr>
            <input class="btn btn-success" type="button" ng-click="addItemToCart(product)" value="BUY" />
          </li>
        </ul>
      </div>
    </div> -->
    <div class="container">    
  <div class="row">
    <div class="col-md-3" *ngFor="let list of listArr" >
      <div class="panel panel-primary">
        <div class="panel-body"><tr><img src={{list.file}} class="img-responsive" style="width:100%" alt="Image"> </tr></div>
        <div class="panel-body" style="margin-top: -8%"><tr>Name:{{ list.pname }}</tr></div>
        <div class="panel-body" style="margin-top: -10%"><tr>Cost:{{ list.pcost }}</tr></div>
        <div class="panel-body" style="margin-top: -11%"><tr>Description:{{ list.pdescription }}</tr></div>
        <button type="button" class="btn btn-outline-primary">Add to Cart</button>
      </div>
    </div>
      </div>
    </div>

  
