
<div class="jumbotron">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h3> Add BLOGS</h3>
              <form [formGroup]="addblog" (ngSubmit)="addBlogs()">
                  
                  <div class="form-group">
                      <label> Name</label>
                      <input type="text" name="name" formControlName="name" class="form-control"  placeholder="name" />
                      <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.name.errors.required">Email is required</div>
                          <div *ngIf="f.name.errors.required">Email must be a valid email address</div>
                      </div> -->
                  </div>
                  
                  <div class="form-group">
                    <label>Blog Description</label>
                    <textarea class="form-control rounded-0" name="description" rows="5" formControlName="description"  placeholder="Description" ></textarea>
                    <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">Password is required</div>
                        <div *ngIf="f.description.errors.minlength">Password must be at least 6 characters</div>
                    </div> -->
                </div>
                <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
                    <br>
                  <div class="form-group">
                      <button class="btn btn-primary" [disabled]="!addblog.valid">Add Blog</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

