<!DOCTYPE html>
<html ng-app="store">

<head>
  <meta charset="utf-8" />
  <title>Store Application</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" data-require="bootstrap@3.3.5"
    data-semver="3.3.5" />
  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.css" rel="stylesheet" data-require="bootstrap@3.3.5" data-semver="3.3.5" /> -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" data-require="bootstrap@3.3.5" data-semver="3.3.5"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js" data-require="bootstrap@3.3.5" data-semver="3.3.5"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" data-require="angularjs@1.4" data-semver="1.4.4"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.min.js" data-require="angularjs@1.4" data-semver="1.4.4"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.min.js" data-require="angularjs@1.4"
    data-semver="1.4.4"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js" data-require="angularjs@1.4" data-semver="1.4.4"></script>
  <script data-require="jquery@2.1.4" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="app.js" type="text/javascript"></script>
</head>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/home">ECOMMERCE</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/viewblog">Blogs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/viewproduct">Products</a>
    </li>
    <li class="nav-item" *ngIf="!isLoggedIn">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <a class="nav-link" (click)="logout()" routerLink="/home">Logout</a>
    </li>
  </ul>
</nav>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let list of listArr">
      <div class="panel panel-primary" position="">
        <div class="panel-body">
          <tr>
            <img src={{list.file}} class="img-responsive" style="width:100%" alt="Image"> </tr>
        </div>
        <div class="panel-body" style="margin-top: -8%">
          <tr>Name:{{ list.name }}</tr>
        </div>
        <span class="border border-top-0"></span>


        <div class="panel-body" style="margin-top: -15%">
          <tr>Blog:{{ list.description }}</tr>
        </div>
        <!-- <button type="button" class="btn btn-outline-primary" routerLink="/viewmore" >View</button> -->
        <button (click)="openModal(list._id)" style="width:auto;">View</button>
      </div>
    </div>
    <div id="id01" class="modal">

      <form class="modal-content animate">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

        </div>

        <div class="container">
            
          <div class="col-md-6" >
            <div >
            <img src={{blogList.file}} class="img-responsive" style="width:50%" alt="Image">
            <h3 class="first">Ratings {{val1}}</h3> 
            <p-rating [(ngModel)]="val1" name="val1"></p-rating>
            <div class="panel-body" style="margin-top: -1%;margin-left:-10px " >
              <h4>Name:{{ blogList.name }}</h4>
            </div>
           
            
            <div class="panel-body" style="margin-top: -8%;margin-left:-10px ">
              <h5>Blog :{{ blogList.description }}</h5>
            </div>
            
            <form [formGroup]="addcomment" (ngSubmit)="addCom()">
                <div class="form-group">
                  <label></label>
                  <input type="text" formControlName="comment" placeholder="Comments" class="form-control"style="margin-top: -8%;margin-left:0px,height:10px;width:50% "/>
                </div>
                <div class="form-group">
                  <!-- <button class="btn btn-primary" style="height:20px;width:150px;float-top:30%">Add Comment</button> -->
                  <input type="submit" value="Add Comment" style="height:20px;width:100px">
    
                </div>
    
              </form>
          </div>
        </div>
         
          <div class="col-md-6">
              <h3>Comments</h3>
            <p-scrollPanel [style]="{width: '100%', height: '200px'}" styleClass="custombar1">
            <p-card  [style]="{width: '360px'}" >
              <div *ngFor="let list of commentList">
                  <hr>
                  <h4>Name:{{ list.userId.name }} </h4>
                    <h4>Comments:{{ list.comment }} </h4>
                    <h4>Rating:{{ list.rating }} </h4>
                    <p>Date:{{list.date|date:'fullDate'}}</p>


                  </div>
            </p-card>
          </p-scrollPanel>
          </div>
        </div>
      </form>

      </div>

    </div>
  </div>


</html>